In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Load data and combine

In [6]:
data1 = pd.read_csv('/mnt/c/Users/jwnha/Documents/_School/MSDS/2022Summer/applicationDev/data/sba/foia-7afy2010-fy2019-asof-220331.csv', 
                    encoding = "ISO-8859-1", low_memory = False)

In [8]:
data2 = pd.read_csv('https://data.sba.gov/dataset/0ff8e8e9-b967-4f4e-987c-6ac78c575087/resource/c71ba6cf-b4e0-4e60-98f0-48aeaf4c6460/download/foia-7afy2020-present-asof-220331.csv', 
                    encoding = "ISO-8859-1", low_memory = False)

In [12]:
data = pd.concat([data1, data2], ignore_index=True).reset_index(drop=True)

In [13]:
data.head()

,AsOfDate,Program,BorrName,BorrStreet,BorrCity,BorrState,BorrZip,BankName,BankStreet,BankCity,...,ProjectState,SBADistrictOffice,CongressionalDistrict,BusinessType,LoanStatus,PaidInFullDate,ChargeOffDate,GrossChargeOffAmount,RevolverStatus,JobsSupported
0,20220331,7A,Neal Vasso dba Vasso & Associa,14800 Landmark Blvd. Suite 88,Dallas,TX,75254,Independent Bank,3090 Craig Dr,MCKINNEY,...,TX,DALLAS / FT WORTH DISTRICT OFFICE,24.0,INDIVIDUAL,PIF,11/30/2015,NaN,0,0,7
1,20220331,7A,Leslie T. Williams DVM,4636 N. 55th Street,Boulder,CO,80301,Live Oak Banking Company,1741 Tiburon Dr,WILMINGTON,...,CO,COLORADO DISTRICT OFFICE,2.0,INDIVIDUAL,PIF,10/31/2018,NaN,0,0,1
2,20220331,7A,Ideal Energy Inc.,500 North 3rd St #106,FAIRFIELD,IA,52556,Iowa State Bank and Trust Company of Fairfield...,55 S 4th St,FAIRFIELD,...,IA,CEDAR RAPIDS BRANCH OFFICE,2.0,CORPORATION,PIF,02/29/2012,NaN,0,0,1
3,20220331,7A,Butler & Son Pet Crematory,3337 Carrollton Villa Rica Hwy,Carrollton,GA,30116,Umpqua Bank,"445 SE Main St, First Fl",ROSEBURG,...,GA,GEORGIA DISTRICT OFFICE,3.0,INDIVIDUAL,PIF,09/30/2014,NaN,0,0,1
4,20220331,7A,Holzheimer Bolek + Meehan Arch,7227 Chagrin Rd.,CHAGRIN FALLS,OH,44023,The Huntington National Bank,17 S High St.,COLUMBUS,...,OH,CLEVELAND DISTRICT OFFICE,14.0,CORPORATION,CANCLD,NaN,NaN,0,1,12

In [14]:
data.tail()

,AsOfDate,Program,BorrName,BorrStreet,BorrCity,BorrState,BorrZip,BankName,BankStreet,BankCity,...,ProjectState,SBADistrictOffice,CongressionalDistrict,BusinessType,LoanStatus,PaidInFullDate,ChargeOffDate,GrossChargeOffAmount,RevolverStatus,JobsSupported
660206,20220331,7A,Coin Laundromat Express Inc.,12827 SW 42nd St,MIAMI,FL,33175,"TD Bank, National Association",2035 Limestone Rd,WILMINGTON,...,FL,SOUTH FLORIDA DISTRICT OFFICE,26.0,CORPORATION,COMMIT,NaN,NaN,0,0,4
660207,20220331,7A,Voyage Pictures LLC,1115 IONIA AVE NW,Grand Rapids,MI,49503,The Huntington National Bank,17 S High St.,COLUMBUS,...,MI,MICHIGAN DISTRICT OFFICE,2.0,CORPORATION,COMMIT,NaN,NaN,0,1,2
660208,20220331,7A,Precision Spine and Sport,384 SHUNPIKE RD,CHATHAM,NJ,7928,Live Oak Banking Company,1741 Tiburon Dr,WILMINGTON,...,NJ,NEW JERSEY DISTRICT OFFICE,7.0,CORPORATION,COMMIT,NaN,NaN,0,0,6
660209,20220331,7A,Voyage Pictures LLC,1115 IONIA AVE NW,Grand Rapids,MI,49503,The Huntington National Bank,17 S High St.,COLUMBUS,...,MI,MICHIGAN DISTRICT OFFICE,2.0,CORPORATION,COMMIT,NaN,NaN,0,0,2
660210,20220331,7A,DQR Electric Inc.,81 ROOSEVELT ST,MARLBOROUGH,MA,1752,St. Mary's CU,46 Lizotte Dr,MARLBOROUGH,...,MA,MASSACHUSETTS DISTRICT OFFICE,2.0,CORPORATION,COMMIT,NaN,NaN,0,0,9

In [15]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 660211 entries, 0 to 660210
Data columns (total 36 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   AsOfDate               660211 non-null  int64
 1   Program                660211 non-null  object
 2   BorrName               660175 non-null  object
 3   BorrStreet             660211 non-null  object
 4   BorrCity               660211 non-null  object
 5   BorrState              660211 non-null  object
 6   BorrZip                660211 non-null  int64
 7   BankName               660211 non-null  object
 8   BankStreet             660209 non-null  object
 9   BankCity               660209 non-null  object
 10  BankState              660209 non-null  object
 11  BankZip                660209 non-null  object
 12  GrossApproval          660207 non-null  float64
 13  SBAGuaranteedApproval  660207 non-null  float64
 14  ApprovalDate           660211 non-null  object
 15  ApprovalFiscalYear     660211 non-null  int64
 16  FirstDisbursementDate  572487 non-null  object
 17  DeliveryMethod         660207 non-null  object
 18  subpgmdesc             660211 non-null  object
 19  InitialInterestRate    660210 non-null  float64
 20  TermInMonths           660211 non-null  int64
 21  NaicsCode              660196 non-null  float64
 22  NaicsDescription       658646 non-null  object
 23  FranchiseCode          64400 non-null   object
 24  FranchiseName          64239 non-null   object
 25  ProjectCounty          660207 non-null  object
 26  ProjectState           660211 non-null  object
 27  SBADistrictOffice      660211 non-null  object
 28  CongressionalDistrict  660178 non-null  float64
 29  BusinessType           660206 non-null  object
 30  LoanStatus             660211 non-null  object
 31  PaidInFullDate         292444 non-null  object
 32  ChargeOffDate          25784 non-null   object
 33  GrossChargeOffAmount   660211 non-null  int64
 34  RevolverStatus         660211 non-null  int64
 35  JobsSupported          660211 non-null  int64
dtypes: float64(5), int64(7), object(24)
memory usage: 181.3+ MB

In [17]:
data.describe()

,AsOfDate,BorrZip,GrossApproval,SBAGuaranteedApproval,ApprovalFiscalYear,InitialInterestRate,TermInMonths,NaicsCode,CongressionalDistrict,GrossChargeOffAmount,RevolverStatus,JobsSupported
count,660211.0,660211.000000,6.602070e+05,6.602070e+05,660211.000000,660210.000000,660211.000000,660196.000000,660178.000000,6.602110e+05,660211.000000,660211.000000
mean,20220331.0,52356.083113,4.177401e+05,3.143516e+05,2015.779421,6.421574,126.680198,524392.585662,9.319006,4.954406e+03,0.303030,10.826728
std,0.0,30623.869160,7.284100e+05,5.667752e+05,3.454124,1.565732,80.423293,175368.713561,10.594812,5.416382e+04,0.459569,20.402267
min,20220331.0,601.000000,1.000000e+03,5.000000e+02,2010.000000,0.000000,0.000000,111110.000000,0.000000,0.000000e+00,0.000000,0.000000
25%,20220331.0,28205.000000,4.700000e+04,2.500000e+04,2013.000000,5.500000,84.000000,424990.000000,2.000000,0.000000e+00,0.000000,2.000000
50%,20220331.0,50401.000000,1.500000e+05,1.000000e+05,2016.000000,6.000000,120.000000,541110.000000,6.000000,0.000000e+00,0.000000,5.000000
75%,20220331.0,80222.000000,4.200000e+05,3.183750e+05,2019.000000,7.250000,120.000000,624410.000000,11.000000,0.000000e+00,1.000000,12.000000
max,20220331.0,99929.000000,5.000000e+06,4.500000e+06,2022.000000,15.240000,847.000000,928120.000000,53.000000,4.706180e+06,1.000000,2150.000000