The goal of this notebook is to take each of the census variables I will be using in my model and find which macroeconomic variables I can use to grow the variables used in the model for 2020-2022.

In [1]:
import pandas as pd
import numpy as np

%matplotlib inline

import matplotlib.pyplot as plt
import seaborn as sns

# Load data

## BEA Data for Estimates
https://www.bea.gov/data/economic-accounts/regional

https://www.bea.gov/data/economic-accounts/national

### PCE by State

In [6]:
consumer_spending_state = pd.read_csv('https://raw.githubusercontent.com/jhancuch/sba-loan-credit-analysis/main/data/bea/PCE.csv')

In [7]:
consumer_spending_state.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51 entries, 0 to 50
Data columns (total 25 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   GeoName  51 non-null     object
 1   1997     51 non-null     int64
 2   1998     51 non-null     int64
 3   1999     51 non-null     int64
 4   2000     51 non-null     int64
 5   2001     51 non-null     int64
 6   2002     51 non-null     int64
 7   2003     51 non-null     int64
 8   2004     51 non-null     int64
 9   2005     51 non-null     int64
 10  2006     51 non-null     int64
 11  2007     51 non-null     int64
 12  2008     51 non-null     int64
 13  2009     51 non-null     int64
 14  2010     51 non-null     int64
 15  2011     51 non-null     int64
 16  2012     51 non-null     int64
 17  2013     51 non-null     int64
 18  2014     51 non-null     int64
 19  2015     51 non-null     int64
 20  2016     51 non-null     int64
 21  2017     51 non-null     int64
 22  2018     51 non-null     int64
 23  2019     51 non-null     int64
 24  2020     51 non-null     int64
dtypes: int64(24), object(1)
memory usage: 10.1+ KB

In [10]:
consumer_spending_state = consumer_spending_state.add_prefix('pce_')

### Employment by State

In [11]:
employment_state = pd.read_csv('https://raw.githubusercontent.com/jhancuch/sba-loan-credit-analysis/main/data/bea/total_employment_state.csv')

In [12]:
employment_state.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51 entries, 0 to 50
Data columns (total 33 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   GeoName  51 non-null     object
 1   1990     51 non-null     int64
 2   1991     51 non-null     int64
 3   1992     51 non-null     int64
 4   1993     51 non-null     int64
 5   1994     51 non-null     int64
 6   1995     51 non-null     int64
 7   1996     51 non-null     int64
 8   1997     51 non-null     int64
 9   1998     51 non-null     int64
 10  1999     51 non-null     int64
 11  2000     51 non-null     int64
 12  2001     51 non-null     int64
 13  2002     51 non-null     int64
 14  2003     51 non-null     int64
 15  2004     51 non-null     int64
 16  2005     51 non-null     int64
 17  2006     51 non-null     int64
 18  2007     51 non-null     int64
 19  2008     51 non-null     int64
 20  2009     51 non-null     int64
 21  2010     51 non-null     int64
 22  2011     51 non-null     int64
 23  2012     51 non-null     int64
 24  2013     51 non-null     int64
 25  2014     51 non-null     int64
 26  2015     51 non-null     int64
 27  2016     51 non-null     int64
 28  2017     51 non-null     int64
 29  2018     51 non-null     int64
 30  2019     51 non-null     int64
 31  2020     51 non-null     int64
 32  2021     51 non-null     object
dtypes: int64(31), object(2)
memory usage: 13.3+ KB

In [13]:
employment_state = employment_state.add_prefix('emp_')

### GDP by State

In [16]:
gdp = pd.read_csv('https://raw.githubusercontent.com/jhancuch/sba-loan-credit-analysis/main/data/bea/gdp_state.csv')

In [17]:
gdp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51 entries, 0 to 50
Data columns (total 18 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   GeoName  51 non-null     object
 1   2005     51 non-null     float64
 2   2006     51 non-null     float64
 3   2007     51 non-null     float64
 4   2008     51 non-null     float64
 5   2009     51 non-null     float64
 6   2010     51 non-null     float64
 7   2011     51 non-null     float64
 8   2012     51 non-null     float64
 9   2013     51 non-null     float64
 10  2014     51 non-null     float64
 11  2015     51 non-null     float64
 12  2016     51 non-null     float64
 13  2017     51 non-null     float64
 14  2018     51 non-null     float64
 15  2019     51 non-null     float64
 16  2020     51 non-null     float64
 17  2021     51 non-null     float64
dtypes: float64(17), object(1)
memory usage: 7.3+ KB

In [19]:
gdp = gdp.add_prefix('gdp_')

### Personal Income by State

In [ ]:
pi = pd.read_csv('https://raw.githubusercontent.com/jhancuch/sba-loan-credit-analysis/main/data/bea/gdp_state.csv')

In [ ]:
pi.info()

In [ ]:
pi = pi.add_prefix('gdp_')

## Census data

### Business patterns by ZIP

In [ ]:
bp_zip = pd.read_csv('https://raw.githubusercontent.com/jhancuch/sba-loan-credit-analysis/main/data/business_patterns_zip/zbp20totals.txt', delimiter=',', encoding = 'unicode_escape', engine ='python')

bp_zip_2 = bp_zip_1.rename(columns = {"emp": "num_employees", "est": "num_establishments", "ap": "annual_payroll_1000s"})

### Total Population

### Employment Status

### Nonemployer

### Manufacturing

### Retail Trade

### Services

### Wholesale Trade