The goal of this notebook is to take each of the census variables I will be using in my model and find which macroeconomic variables I can use to grow the variables used in the model for 2020-2022.

In [1]:
import pandas as pd
import numpy as np

%matplotlib inline

import matplotlib.pyplot as plt
import seaborn as sns

# Load data

In [2]:
us_state_to_abbrev = {
    "Alabama": "AL",
    "Alaska": "AK",
    "Arizona": "AZ",
    "Arkansas": "AR",
    "California": "CA",
    "Colorado": "CO",
    "Connecticut": "CT",
    "Delaware": "DE",
    "Florida": "FL",
    "Georgia": "GA",
    "Hawaii": "HI",
    "Idaho": "ID",
    "Illinois": "IL",
    "Indiana": "IN",
    "Iowa": "IA",
    "Kansas": "KS",
    "Kentucky": "KY",
    "Louisiana": "LA",
    "Maine": "ME",
    "Maryland": "MD",
    "Massachusetts": "MA",
    "Michigan": "MI",
    "Minnesota": "MN",
    "Mississippi": "MS",
    "Missouri": "MO",
    "Montana": "MT",
    "Nebraska": "NE",
    "Nevada": "NV",
    "New Hampshire": "NH",
    "New Jersey": "NJ",
    "New Mexico": "NM",
    "New York": "NY",
    "North Carolina": "NC",
    "North Dakota": "ND",
    "Ohio": "OH",
    "Oklahoma": "OK",
    "Oregon": "OR",
    "Pennsylvania": "PA",
    "Rhode Island": "RI",
    "South Carolina": "SC",
    "South Dakota": "SD",
    "Tennessee": "TN",
    "Texas": "TX",
    "Utah": "UT",
    "Vermont": "VT",
    "Virginia": "VA",
    "Washington": "WA",
    "West Virginia": "WV",
    "Wisconsin": "WI",
    "Wyoming": "WY",
    "District of Columbia": "DC"
}

## BEA Data for Estimates
https://www.bea.gov/data/economic-accounts/regional

https://www.bea.gov/data/economic-accounts/national

### Employment by State

In [3]:
employment_state = pd.read_csv('https://raw.githubusercontent.com/jhancuch/sba-loan-credit-analysis/main/data/bea/total_employment_state.csv')

In [4]:
employment_state.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51 entries, 0 to 50
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   GeoName  51 non-null     object
 1   2017     51 non-null     int64
 2   2018     51 non-null     int64
 3   2019     51 non-null     int64
 4   2020     51 non-null     int64
dtypes: int64(4), object(1)
memory usage: 2.1+ KB

In [5]:
employment_state = employment_state.add_prefix('emp_')

In [7]:
employment_state['emp_pct_chg'] = (employment_state['emp_2020'] - employment_state['emp_2019']) / employment_state['emp_2019']

In [9]:
employment_state['stabb'] = ''
for i in range(0, len(employment_state)):
    employment_state.loc[i, 'stabb'] = us_state_to_abbrev[employment_state.loc[i, 'emp_GeoName']]

In [10]:
employment_state

,emp_GeoName,emp_2017,emp_2018,emp_2019,emp_2020,emp_pct_chg,stabb
0,Alabama,2649812,2692383,2712704,2612469,-0.036950,AL
1,Alaska,455705,454871,454742,425953,-0.063308,AK
2,Arizona,3740003,3854506,3929402,3826162,-0.026274,AZ
3,Arkansas,1641045,1658921,1664839,1608843,-0.033634,AR
4,California,23549113,24078517,24227563,22743902,-0.061239,CA
5,Colorado,3760540,3857800,3893927,3737075,-0.040281,CO
6,Connecticut,2300011,2314371,2298480,2162427,-0.059193,CT
7,Delaware,584854,597018,602908,570469,-0.053804,DE
8,District of Columbia,903304,914601,915470,860807,-0.059710,DC
9,Florida,12097885,12555591,12761508,12148603,-0.048028,FL
10,Georgia,6127762,6287012,6397862,6104727,-0.045818,GA
11,Hawaii,920697,924093,913791,802462,-0.121832,HI
12,Idaho,1007893,1041011,1063670,1052254,-0.010733,ID
13,Illinois,7822427,7880083,7859352,7388506,-0.059909,IL
14,Indiana,3903858,3963401,3971608,3788622,-0.046074,IN
15,Iowa,2062237,2076201,2071569,1987117,-0.040767,IA
16,Kansas,1914179,1926242,1925204,1851247,-0.038415,KS
17,Kentucky,2520149,2545750,2549760,2430210,-0.046887,KY
18,Louisiana,2695329,2727409,2720019,2534808,-0.068092,LA
19,Maine,834355,843990,842789,801781,-0.048657,ME
20,Maryland,3695331,3750678,3742829,3536398,-0.055154,MD
21,Massachusetts,4778424,4854672,4873148,4522091,-0.072039,MA
22,Michigan,5631306,5714498,5713451,5266334,-0.078257,MI
23,Minnesota,3735312,3776541,3783410,3558042,-0.059567,MN
24,Mississippi,1592268,1602960,1607794,1542209,-0.040792,MS
25,Missouri,3735460,3776709,3779878,3626303,-0.040630,MO
26,Montana,674522,684109,686572,668310,-0.026599,MT
27,Nebraska,1317761,1330165,1329016,1285838,-0.032489,NE
28,Nevada,1780418,1848911,1884448,1713047,-0.090956,NV
29,New Hampshire,882318,892444,890266,846181,-0.049519,NH
30,New Jersey,5447903,5549280,5569985,5166206,-0.072492,NJ
31,New Mexico,1095282,1110508,1116960,1054758,-0.055689,NM
32,New York,12389884,12652841,12743035,11581930,-0.091117,NY
33,North Carolina,5918963,6055092,6150375,5908402,-0.039343,NC
34,North Dakota,573149,578319,581932,550696,-0.053676,ND
35,Ohio,6987207,7066115,7071693,6706071,-0.051702,OH
36,Oklahoma,2291751,2311760,2309792,2225399,-0.036537,OK
37,Oregon,2516476,2570224,2575104,2451970,-0.047817,OR
38,Pennsylvania,7662558,7764044,7774724,7281565,-0.063431,PA
39,Rhode Island,639095,648805,651014,602589,-0.074384,RI
40,South Carolina,2759410,2843727,2882927,2749547,-0.046265,SC
41,South Dakota,601286,610122,610822,594556,-0.026630,SD
42,Tennessee,4033801,4120207,4168956,4017452,-0.036341,TN
43,Texas,17102378,17606363,17902704,17158640,-0.041562,TX
44,Utah,1995156,2069443,2102910,2079706,-0.011034,UT
45,Vermont,436289,438071,433933,402251,-0.073011,VT
46,Virginia,5229033,5298892,5327163,5100799,-0.042492,VA
47,Washington,4431999,4538137,4593480,4385827,-0.045206,WA
48,West Virginia,889027,897525,881303,835410,-0.052074,WV
49,Wisconsin,3679235,3720737,3719266,3533538,-0.049937,WI
50,Wyoming,398940,404530,408143,386291,-0.053540,WY

### GDP by State

In [54]:
gdp = pd.read_csv('https://raw.githubusercontent.com/jhancuch/sba-loan-credit-analysis/main/data/bea/gdp_state.csv')

In [55]:
gdp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51 entries, 0 to 50
Data columns (total 6 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   GeoName  51 non-null     object
 1   2018:Q1  51 non-null     float64
 2   2019:Q1  51 non-null     float64
 3   2020:Q1  51 non-null     float64
 4   2021:Q1  51 non-null     float64
 5   2022:Q1  51 non-null     float64
dtypes: float64(5), object(1)
memory usage: 2.5+ KB

In [56]:
gdp = gdp.add_prefix('gdp_')

In [57]:
gdp['pct_chg_19_20'] = (gdp['gdp_2020:Q1'] - gdp['gdp_2019:Q1']) / gdp['gdp_2019:Q1']
gdp['pct_chg_20_21'] = (gdp['gdp_2021:Q1'] - gdp['gdp_2020:Q1']) / gdp['gdp_2020:Q1']
gdp['pct_chg_21_22'] = (gdp['gdp_2020:Q1'] - gdp['gdp_2019:Q1']) / gdp['gdp_2019:Q1']

In [65]:
gdp['stabb'] = ''
for i in range(0, len(gdp)):
    gdp.loc[i, 'stabb'] = us_state_to_abbrev[gdp.loc[i, 'gdp_GeoName']]

In [69]:
gdp

,gdp_GeoName,gdp_2018:Q1,gdp_2019:Q1,gdp_2020:Q1,gdp_2021:Q1,gdp_2022:Q1,pct_chg_19_20,pct_chg_20_21,pct_chg_21_22,stabb
0,Alabama,200256.3,202231.1,202069.1,202598.8,206879.7,-0.000801,0.002621,-0.000801,AL
1,Alaska,53399.8,52889.5,52876.1,49820.2,49643.0,-0.000253,-0.057794,-0.000253,AK
2,Arizona,311176.5,319443.4,324209.9,331004.1,341753.8,0.014921,0.020956,0.014921,AZ
3,Arkansas,115453.5,116073.3,116945.8,119313.5,121991.1,0.007517,0.020246,0.007517,AR
4,California,2601862.5,2693526.5,2739612.3,2799129.2,2939039.8,0.017110,0.021725,0.017110,CA
5,Colorado,338845.7,349998.6,357983.5,357382.7,371304.9,0.022814,-0.001678,0.022814,CO
6,Connecticut,249498.2,251236.3,245664.6,240712.2,250200.7,-0.022177,-0.020159,-0.022177,CT
7,Delaware,60748.3,63493.3,63227.4,62865.4,65644.9,-0.004188,-0.005725,-0.004188,DE
8,District of Columbia,122470.1,123440.2,125651.9,123514.9,127280.3,0.017917,-0.017007,0.017917,DC
9,Florida,936276.2,963421.6,968139.8,978444.2,1031018.3,0.004897,0.010644,0.004897,FL
10,Georgia,531915.0,550132.9,551631.3,554992.1,579715.5,0.002724,0.006092,0.002724,GA
11,Hawaii,79457.5,78642.6,77374.7,70653.8,75302.1,-0.016122,-0.086862,-0.016122,HI
12,Idaho,70111.3,72936.5,74672.5,77265.9,78874.1,0.023802,0.034730,0.023802,ID
13,Illinois,770034.3,776071.6,763614.3,766829.0,779918.0,-0.016052,0.004210,-0.016052,IL
14,Indiana,335177.8,335558.8,338137.4,348472.4,355877.9,0.007684,0.030564,0.007684,IN
15,Iowa,172014.6,170621.5,171962.8,178621.7,179475.3,0.007861,0.038723,0.007861,IA
16,Kansas,157250.1,157922.3,160610.5,162059.7,162199.5,0.017022,0.009023,0.017022,KS
17,Kentucky,186677.3,189494.7,190903.4,192634.7,195676.0,0.007434,0.009069,0.007434,KY
18,Louisiana,236742.0,235482.2,231935.4,224325.9,228002.3,-0.015062,-0.032809,-0.015062,LA
19,Maine,57838.7,58897.3,59882.6,60933.5,62682.2,0.016729,0.017549,0.016729,ME
20,Maryland,367493.3,367089.8,365726.5,364834.0,367288.8,-0.003714,-0.002440,-0.003714,MD
21,Massachusetts,497091.8,512866.5,516373.4,517170.8,543621.9,0.006838,0.001544,0.006838,MA
22,Michigan,467378.7,464811.6,462839.6,461249.3,481860.6,-0.004243,-0.003436,-0.004243,MI
23,Minnesota,334733.4,337632.0,336437.6,337184.1,349526.6,-0.003538,0.002219,-0.003538,MN
24,Mississippi,101088.3,100563.7,102318.6,103180.8,104695.4,0.017451,0.008427,0.017451,MS
25,Missouri,283756.5,288815.9,289267.7,292949.7,297727.8,0.001564,0.012729,0.001564,MO
26,Montana,46868.7,46575.4,46632.8,48651.5,49284.8,0.001232,0.043289,0.001232,MT
27,Nebraska,117281.0,116680.8,119356.1,124849.5,122669.5,0.022928,0.046025,0.022928,NE
28,Nevada,149483.8,155161.1,157787.4,149987.0,159487.4,0.016926,-0.049436,0.016926,NV
29,New Hampshire,75444.9,77068.0,77475.9,78919.7,83979.7,0.005293,0.018635,0.005293,NH
30,New Jersey,545151.0,556095.8,561934.1,554377.6,569538.7,0.010499,-0.013447,0.010499,NJ
31,New Mexico,90104.2,92593.1,96816.7,94088.2,95344.7,0.045615,-0.028182,0.045615,NM
32,New York,1447027.8,1480721.8,1478701.6,1463162.2,1510975.9,-0.001364,-0.010509,-0.001364,NY
33,North Carolina,500799.4,509780.8,512890.8,523298.7,542101.9,0.006101,0.020293,0.006101,NC
34,North Dakota,55478.3,55511.2,57212.1,55427.5,54631.1,0.030641,-0.031193,0.030641,ND
35,Ohio,593836.2,605998.5,607554.1,609231.7,620676.6,0.002567,0.002761,0.002567,OH
36,Oklahoma,195984.5,199115.2,198173.5,192114.5,196962.3,-0.004729,-0.030574,-0.004729,OK
37,Oregon,212425.6,217430.4,219990.1,220592.9,229453.0,0.011773,0.002740,0.011773,OR
38,Pennsylvania,699585.0,709316.3,711885.6,702716.0,722447.1,0.003622,-0.012881,0.003622,PA
39,Rhode Island,52330.6,53058.4,52786.9,52272.8,55367.9,-0.005117,-0.009739,-0.005117,RI
40,South Carolina,205922.9,211188.1,211784.1,217344.4,223923.6,0.002822,0.026255,0.002822,SC
41,South Dakota,47001.9,46688.0,47582.8,48924.2,48545.5,0.019166,0.028191,0.019166,SD
42,Tennessee,321019.1,326274.8,329142.7,337611.0,350673.9,0.008790,0.025728,0.008790,TN
43,Texas,1707894.4,1756331.9,1783603.0,1786515.2,1870873.7,0.015527,0.001633,0.015527,TX
44,Utah,160523.3,169788.2,171099.8,180194.6,185181.2,0.007725,0.053155,0.007725,UT
45,Vermont,29650.7,29939.4,29949.0,29410.3,30184.4,0.000321,-0.017987,0.000321,VT
46,Virginia,474152.5,483144.2,484783.2,485850.0,498831.1,0.003392,0.002201,0.003392,VA
47,Washington,507180.6,530475.0,539701.9,553143.8,577248.6,0.017394,0.024906,0.017394,WA
48,West Virginia,71967.4,72379.7,71676.2,71643.6,71711.8,-0.009720,-0.000455,-0.009720,WV
49,Wisconsin,297847.6,301770.3,298653.8,300025.5,306547.9,-0.010327,0.004593,-0.010327,WI
50,Wyoming,37802.1,38191.8,38285.8,36425.2,36046.6,0.002461,-0.048598,0.002461,WY

## Census data

### Business patterns by ZIP

In [13]:
bp_zip = pd.read_csv('https://raw.githubusercontent.com/jhancuch/sba-loan-credit-analysis/main/data/business_patterns_zip/zbp20totals.txt', delimiter=',', encoding = 'unicode_escape', engine ='python')

In [14]:
bp_zip1 = bp_zip.rename(columns = {"emp": "num_employees20", "est": "num_establishments20", "ap": "annual_payroll_1000s20"})
bp_zip2 = bp_zip1[['stabbr', 'num_employees20', 'num_establishments20', 'annual_payroll_1000s20']]
bp_zip2 = bp_zip2.iloc[:-1, :]

### Total Population

In [11]:
tot_pop = pd.read_csv('https://raw.githubusercontent.com/jhancuch/sba-loan-credit-analysis/main/data/total_population/tot_population_2020.csv')

In [12]:
tot_pop1 = tot_pop.rename(columns = {"B01003_001E": "total_pop", "NAME": "zip"})
tot_pop2 = tot_pop1.iloc[1:, :].drop(axis=1, columns=['B01003_001M','GEO_ID'])

# Remove ZCTA5 string and convert total_pop to int
tot_pop2['zip'] = tot_pop2['zip'].replace('ZCTA5 ', '', regex=True)
tot_pop2['total_pop'] = tot_pop2['total_pop'].astype(int)

In [15]:
# https://www.census.gov/library/stories/2021/12/us-population-grew-in-2021-slowest-rate-since-founding-of-the-nation.html

tot_pop2['pop_pct_chg_20_21'] = .001

In [16]:
tot_pop2

       total_pop    zip  pop_pct_chg_20_21
1          16773  00601              0.001
2          37083  00602              0.001
3          45652  00603              0.001
4           6231  00606              0.001
5          26502  00610              0.001
...          ...    ...                ...
33116         12  99923              0.001
33117        990  99925              0.001
33118       1582  99926              0.001
33119          0  99927              0.001
33120       2509  99929              0.001

[33120 rows x 3 columns]

### Employment Status

In [17]:
emp_status = pd.read_csv('https://raw.githubusercontent.com/jhancuch/sba-loan-credit-analysis/main/data/employment_status/employment2020.csv', header = 1)

In [18]:
emp_status_1 = emp_status[['Geographic Area Name', 
                           'Estimate!!Occupied housing units!!Occupied housing units!!HOUSEHOLD INCOME IN THE PAST 12 MONTHS (IN 2020 INFLATION-ADJUSTED DOLLARS)!!Median household income (dollars)',
                           'Estimate!!Occupied housing units!!Occupied housing units!!MONTHLY HOUSING COSTS AS A PERCENTAGE OF HOUSEHOLD INCOME IN THE PAST 12 MONTHS!!Less than $20,000!!Less than 20 percent',
                           'Estimate!!Occupied housing units!!Occupied housing units!!MONTHLY HOUSING COSTS AS A PERCENTAGE OF HOUSEHOLD INCOME IN THE PAST 12 MONTHS!!Less than $20,000!!20 to 29 percent',
                           'Estimate!!Occupied housing units!!Occupied housing units!!MONTHLY HOUSING COSTS AS A PERCENTAGE OF HOUSEHOLD INCOME IN THE PAST 12 MONTHS!!Less than $20,000!!30 percent or more',
                           'Estimate!!Occupied housing units!!Occupied housing units!!MONTHLY HOUSING COSTS AS A PERCENTAGE OF HOUSEHOLD INCOME IN THE PAST 12 MONTHS!!$20,000 to $34,999!!Less than 20 percent',
                           'Estimate!!Occupied housing units!!Occupied housing units!!MONTHLY HOUSING COSTS AS A PERCENTAGE OF HOUSEHOLD INCOME IN THE PAST 12 MONTHS!!$20,000 to $34,999!!20 to 29 percent',
                           'Estimate!!Occupied housing units!!Occupied housing units!!MONTHLY HOUSING COSTS AS A PERCENTAGE OF HOUSEHOLD INCOME IN THE PAST 12 MONTHS!!$20,000 to $34,999!!30 percent or more',
                           'Estimate!!Occupied housing units!!Occupied housing units!!MONTHLY HOUSING COSTS AS A PERCENTAGE OF HOUSEHOLD INCOME IN THE PAST 12 MONTHS!!$35,000 to $49,999!!Less than 20 percent',
                           'Estimate!!Occupied housing units!!Occupied housing units!!MONTHLY HOUSING COSTS AS A PERCENTAGE OF HOUSEHOLD INCOME IN THE PAST 12 MONTHS!!$35,000 to $49,999!!20 to 29 percent',
                           'Estimate!!Occupied housing units!!Occupied housing units!!MONTHLY HOUSING COSTS AS A PERCENTAGE OF HOUSEHOLD INCOME IN THE PAST 12 MONTHS!!$35,000 to $49,999!!30 percent or more',
                           'Estimate!!Occupied housing units!!Occupied housing units!!MONTHLY HOUSING COSTS AS A PERCENTAGE OF HOUSEHOLD INCOME IN THE PAST 12 MONTHS!!$50,000 to $74,999!!Less than 20 percent',
                           'Estimate!!Occupied housing units!!Occupied housing units!!MONTHLY HOUSING COSTS AS A PERCENTAGE OF HOUSEHOLD INCOME IN THE PAST 12 MONTHS!!$50,000 to $74,999!!20 to 29 percent',
                           'Estimate!!Occupied housing units!!Occupied housing units!!MONTHLY HOUSING COSTS AS A PERCENTAGE OF HOUSEHOLD INCOME IN THE PAST 12 MONTHS!!$50,000 to $74,999!!30 percent or more',
                           'Estimate!!Occupied housing units!!Occupied housing units!!MONTHLY HOUSING COSTS AS A PERCENTAGE OF HOUSEHOLD INCOME IN THE PAST 12 MONTHS!!$75,000 or more!!Less than 20 percent',
                           'Estimate!!Occupied housing units!!Occupied housing units!!MONTHLY HOUSING COSTS AS A PERCENTAGE OF HOUSEHOLD INCOME IN THE PAST 12 MONTHS!!$75,000 or more!!20 to 29 percent',
                           'Estimate!!Occupied housing units!!Occupied housing units!!MONTHLY HOUSING COSTS AS A PERCENTAGE OF HOUSEHOLD INCOME IN THE PAST 12 MONTHS!!$75,000 or more!!30 percent or more'
                          ]]

In [19]:
emp_status_2 = emp_status_1.rename(columns = {'Geographic Area Name': 'zip', 
                                              'Estimate!!Occupied housing units!!Occupied housing units!!HOUSEHOLD INCOME IN THE PAST 12 MONTHS (IN 2020 INFLATION-ADJUSTED DOLLARS)!!Median household income (dollars)': 'houshold_income_2020_median',
                                              'Estimate!!Occupied housing units!!Occupied housing units!!MONTHLY HOUSING COSTS AS A PERCENTAGE OF HOUSEHOLD INCOME IN THE PAST 12 MONTHS!!Less than $20,000!!Less than 20 percent': 'incm_l_20k_house_pct_l_20',
                                              'Estimate!!Occupied housing units!!Occupied housing units!!MONTHLY HOUSING COSTS AS A PERCENTAGE OF HOUSEHOLD INCOME IN THE PAST 12 MONTHS!!Less than $20,000!!20 to 29 percent': 'incm_l_20k_house_pct_l_30_gt_20',
                                              'Estimate!!Occupied housing units!!Occupied housing units!!MONTHLY HOUSING COSTS AS A PERCENTAGE OF HOUSEHOLD INCOME IN THE PAST 12 MONTHS!!Less than $20,000!!30 percent or more': 'incm_l_20k_house_pct_gt_30',
                                              'Estimate!!Occupied housing units!!Occupied housing units!!MONTHLY HOUSING COSTS AS A PERCENTAGE OF HOUSEHOLD INCOME IN THE PAST 12 MONTHS!!$20,000 to $34,999!!Less than 20 percent': 'incm_gt_20k_l_35k_house_pct_l_20',
                                              'Estimate!!Occupied housing units!!Occupied housing units!!MONTHLY HOUSING COSTS AS A PERCENTAGE OF HOUSEHOLD INCOME IN THE PAST 12 MONTHS!!$20,000 to $34,999!!20 to 29 percent': 'incm_gt_20k_l_35k_house_pct_l_30_gt_20',
                                              'Estimate!!Occupied housing units!!Occupied housing units!!MONTHLY HOUSING COSTS AS A PERCENTAGE OF HOUSEHOLD INCOME IN THE PAST 12 MONTHS!!$20,000 to $34,999!!30 percent or more': 'incm_gt_20k_l_35k_house_pct_gt_30',
                                              'Estimate!!Occupied housing units!!Occupied housing units!!MONTHLY HOUSING COSTS AS A PERCENTAGE OF HOUSEHOLD INCOME IN THE PAST 12 MONTHS!!$35,000 to $49,999!!Less than 20 percent': 'incm_gt_35k_l_50k_house_pct_l_20',
                                              'Estimate!!Occupied housing units!!Occupied housing units!!MONTHLY HOUSING COSTS AS A PERCENTAGE OF HOUSEHOLD INCOME IN THE PAST 12 MONTHS!!$35,000 to $49,999!!20 to 29 percent': 'incm_gt_35k_l_50k_house_pct_l_30_gt_20',
                                              'Estimate!!Occupied housing units!!Occupied housing units!!MONTHLY HOUSING COSTS AS A PERCENTAGE OF HOUSEHOLD INCOME IN THE PAST 12 MONTHS!!$35,000 to $49,999!!30 percent or more': 'incm_gt_35k_l_50k_house_pct_gt_30',
                                              'Estimate!!Occupied housing units!!Occupied housing units!!MONTHLY HOUSING COSTS AS A PERCENTAGE OF HOUSEHOLD INCOME IN THE PAST 12 MONTHS!!$50,000 to $74,999!!Less than 20 percent': 'incm_gt_50k_l_75k_house_pct_l_20',
                                              'Estimate!!Occupied housing units!!Occupied housing units!!MONTHLY HOUSING COSTS AS A PERCENTAGE OF HOUSEHOLD INCOME IN THE PAST 12 MONTHS!!$50,000 to $74,999!!20 to 29 percent': 'incm_gt_50k_l_75k_house_pct_l_30_gt_20',
                                              'Estimate!!Occupied housing units!!Occupied housing units!!MONTHLY HOUSING COSTS AS A PERCENTAGE OF HOUSEHOLD INCOME IN THE PAST 12 MONTHS!!$50,000 to $74,999!!30 percent or more': 'incm_gt_50k_l_75k_house_pct_gt_30',
                                              'Estimate!!Occupied housing units!!Occupied housing units!!MONTHLY HOUSING COSTS AS A PERCENTAGE OF HOUSEHOLD INCOME IN THE PAST 12 MONTHS!!$75,000 or more!!Less than 20 percent': 'incm_gt_75k_house_pct_l_20',
                                              'Estimate!!Occupied housing units!!Occupied housing units!!MONTHLY HOUSING COSTS AS A PERCENTAGE OF HOUSEHOLD INCOME IN THE PAST 12 MONTHS!!$75,000 or more!!20 to 29 percent': 'incm_gt_75k_house_pct_l_30_gt_20',
                                              'Estimate!!Occupied housing units!!Occupied housing units!!MONTHLY HOUSING COSTS AS A PERCENTAGE OF HOUSEHOLD INCOME IN THE PAST 12 MONTHS!!$75,000 or more!!30 percent or more': 'incm_gt_75k_house_pct_gt_30'})

In [20]:
# Remove ZCTA5 string and convert houshold_income_2020_median to int. For non-disclosed figures due to masking concerns, I use the median value of the median household income
emp_status_2['zip'] = emp_status_2['zip'].replace('ZCTA5 ', '', regex=True)

emp_status_2['houshold_income_2020_median'] = emp_status_2['houshold_income_2020_median'].replace('250,000+', '250000')
emp_status_2['houshold_income_2020_median'] = emp_status_2['houshold_income_2020_median'].replace('2,500-', np.nan, regex=True)
emp_status_2['houshold_income_2020_median'] = emp_status_2['houshold_income_2020_median'].replace('-', np.nan, regex=True)

emp_status_2['houshold_income_2020_median'] = emp_status_2['houshold_income_2020_median'].astype(float)
emp_status_2.loc[emp_status_2['houshold_income_2020_median'] == np.nan, 'houshold_income_2020_median'] = emp_status_2['houshold_income_2020_median'].median

### Nonemployer

In [ ]:
nonemployer = pd.read_csv('https://raw.githubusercontent.com/jhancuch/sba-loan-credit-analysis/main/data/nonemployer/nonemp18st.txt', delimiter=',', encoding = 'unicode_escape', engine ='python')

In [ ]:
nonemployer1 = nonemployer[['ST', 'NAICS', 'RCPTOT']]
nonemployer2 = nonemployer1.rename(columns = {"ST": "state_fips", "NAICS": "naics", "RCPTOT": "revenue_total"})

In [ ]:
# Subset to if only the naics is three digits long 
nonemployer3_list = []

for i in range(0, len(nonemployer2)):
    if len(nonemployer2.loc[i, 'naics']) == 3:
        temp_list = list(nonemployer2.iloc[i, :])
        nonemployer3_list.append(temp_list)
        
nonemployer3 = pd.DataFrame(nonemployer3_list, columns=['state_fips', 'naics', 'revenue_total'])

In [ ]:
# adjust naics to only two digits
nonemployer3['naics'] = nonemployer3['naics'].astype(str)
nonemployer3['naics'] = nonemployer3['naics'].str.slice(0, 2)

In [ ]:
# Merge in state abbreviation and fips

In [ ]:
# Calculate % Change

### Manufacturing

### Retail Trade

In [25]:
retail_trade = pd.read_csv('https://raw.githubusercontent.com/jhancuch/sba-loan-credit-analysis/main/data/retail_trade/sales.csv', header = 3, encoding = 'unicode_escape', engine ='python')

In [32]:
retail_trade_1 = retail_trade.iloc[3:71, :]
retail_trade_2 = retail_trade_1[['NAICS Code','2020','2019r','2018r','2017r','2016r','2015r','2014r','2013r','2012','2011', '2010']]
retail_trade_3 = retail_trade_2.rename(columns = {'NAICS Code': 'naics',
                                                 '2019r': '2019',
                                                 '2018r': '2018',
                                                 '2017r': '2017',
                                                 '2016r': '2016',
                                                 '2015r': '2015',
                                                 '2014r': '2014',
                                                 '2013r': '2013'}).reset_index(drop=True)
# Subset to if only the naics is three digits long 
retail_trade_4_list = []

for i in range(0, len(retail_trade_3)):
    if len(retail_trade_3.loc[i, 'naics']) == 3:
        temp_list = list(retail_trade_3.iloc[i, :])
        retail_trade_4_list.append(temp_list)
        
retail_trade_4 = pd.DataFrame(retail_trade_4_list, columns=['naics', '2020', '2019', '2018', '2017', '2016', '2015', '2014', '2013', '2012', '2011', '2010'])

# Convert variables to integers and subset naics code to only two digits
retail_trade_4['naics'] = retail_trade_4['naics'].str.slice(0, 2)
for i in retail_trade_4.columns:
    retail_trade_4[i] = retail_trade_4[i].str.replace(',', '')
    retail_trade_4[i] = retail_trade_4[i].astype(int)

retail_trade_5 = retail_trade_4.groupby(['naics'])[['2020', '2019', '2018', '2017', '2016', '2015', '2014', '2013', '2012', '2011', '2010']].sum().reset_index()

In [46]:
retail_trade_6 = pd.DataFrame(retail_trade_5.iloc[0, 1:] + retail_trade_5.iloc[1, 1:]).reset_index()

In [53]:
pd.pivot(retail_trade_6, columns='index', values=0)

index,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5570393.0
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5402272.0,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5255425.0,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5040214.0,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,4848096.0,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,4726111.0,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,4640651.0,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,4459238.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,4302229.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,4102952.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,3818048.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [51]:
retail_trade_6.columns

Index(['index', 0], dtype='object')

### Services

### Wholesale Trade

# Growing data

## Business Patterns by Zip

In [110]:
for i in range(0, len(bp_zip2)):
    bp_zip2.loc[i, 'num_employees21'] = (bp_zip2.loc[i, 'num_employees20'] * (1 + gdp.loc[gdp['stabb'] == bp_zip2.loc[i, 'stabbr'], ['pct_chg_20_21']])).values[0]
    bp_zip2.loc[i, 'num_establishments21'] = (bp_zip2.loc[i, 'num_establishments20'] * (1 + gdp.loc[gdp['stabb'] == bp_zip2.loc[i, 'stabbr'], ['pct_chg_20_21']])).values[0]
    bp_zip2.loc[i, 'annual_payroll_1000s21'] = (bp_zip2.loc[i, 'annual_payroll_1000s20'] * (1 + gdp.loc[gdp['stabb'] == bp_zip2.loc[i, 'stabbr'], ['pct_chg_20_21']])).values[0]

In [112]:
for i in range(0, len(bp_zip2)):
    bp_zip2.loc[i, 'num_employees22'] = (bp_zip2.loc[i, 'num_employees21'] * (1 + gdp.loc[gdp['stabb'] == bp_zip2.loc[i, 'stabbr'], ['pct_chg_21_22']])).values[0]
    bp_zip2.loc[i, 'num_establishments22'] = (bp_zip2.loc[i, 'num_establishments21'] * (1 + gdp.loc[gdp['stabb'] == bp_zip2.loc[i, 'stabbr'], ['pct_chg_21_22']])).values[0]
    bp_zip2.loc[i, 'annual_payroll_1000s22'] = (bp_zip2.loc[i, 'annual_payroll_1000s21'] * (1 + gdp.loc[gdp['stabb'] == bp_zip2.loc[i, 'stabbr'], ['pct_chg_21_22']])).values[0]

## Total Population

## Employment Status

In [ ]:
# only grow median income, copy over 2020 distribution to 2021

## Retail Trade